#Article{
	border: 1px solid grey;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 8px;
	width: auto;
}

#Article__unit-creation-form{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.Article__text-area-input{
	text-align: center;
}
.Article__text-area-input textarea{
	width: 80%;
	padding: 5px;
	border-radius: 4px;
}

.Article__buttons-input-outer-div{
	display: flex;
	justify-content: center;
}

.Article__buttons-input-outer-div div{
	display: flex;
	flex-direction: row;
	width: 80%;
}

.Article__buttons-input{
	width: 100%;
}
.Article__buttons-input select{
	width: 100%;
	padding: 5px;
	border-radius: 4px;
} 

.Article__buttons-input{
	text-align: center;
}

.Article--right-align{
	text-align: right;
}

.Article--center-align{
	text-align: center;
	padding-top: 5px;
}

#Article__more-icon-div{
	display: flex;
	justify-content: flex-end;
}

#Article__filters{
	display: flex;
}

#Article__likes-div{
	display:flex;
	padding: 8px;
	width: fit-content;
}
#Article__likes-div div{
	margin-right: 10px;
}


#Article__more_dropdown{
	position: absolute;
}

#Article__more_dropdown div:hover
{
	background: grey;
	cursor: pointer;
}

#Article__more_dropdown div{
	background: #edf5ef;
	padding: 5px 8px;
	text-align: left;
}
