
#Header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	/* border: 1px solid grey; */
	/* background: #172459; */
	/* background: #010e52; */
	/* background:#222536; */
	background: #f0f1f5;
	box-shadow: 1px 1px grey;
}

.Header__nav-bar-button{
	padding: 5px;
	border-radius: 5px;
}

.Header__nav-bar-button a:hover{
	color:darkgray;
}

.Header__nav-bar-button a{
	font-weight:bold;
	text-decoration: none;
	color: black;
}

.Header__nav-bar-div--right{
	display: flex ;
}