#Login{
    display: flex;
    flex-direction: column;
}
.Login__input-field{
    padding: 10px;
    border-radius: 10px;
}

#Login div{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
    /* transform: rotate(5deg); */
}


.Login__input-validation-message{
    color: red;
    padding-left: 10px;
    font-size: small;
}


