
.Menu__items-div{
    /* padding: 10px; */
    position: absolute;
    /* border: 1px solid grey; */
    background: #e6f2ef;
    transform: translate(-40px, 5px);
}

.Menu__items-div div{
    padding: 8px 12px;
}
a{
    text-decoration: none;
}

.Menu__items-div div:hover{
    background: #f2f2f2;
    cursor: pointer;
}