
.Tag__tag{
  /* background: grey;   */
  padding: 3px 5px;
  margin: 10px;
  width: fit-content;
  min-width: 60px;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  cursor:pointer;
}

