#UnitModal{
	position: fixed;
	/* background: green; */
	left: 0;
	top:0;
	width: 60%;
	height: 80%;
	padding: 5% 20%;
	background-color: rgba(0,0,0,0.8);
	overflow: auto;
	z-index: 1;
}

#UnitModal__inner-div{
	display: flex;
	justify-content: space-between;
	padding: 40px;
	background: #ebf0f5;
	white-space: pre-wrap;
	
}

.UnitModal--background-grey{
	padding: 2px 15px;
	background: #CCCCCC;
	margin-bottom: 15px ;
	border-radius: 10px;
	
}

#UnitModal__unit-data{
	width:70%;
}

#UnitModal__more{
	/* border: 1px solid grey; */
	width: fit-content;
	margin: 20px 0;
	cursor: pointer;
}

#UnitModal__more div:hover
{
	background: grey;
}

#UnitModal__more div{
	border: 1px solid grey;
	padding: 4px;
}

