#UnitModal{
	position: fixed;
	/* background: green; */
	left: 0;
	top:0;
	width: 60%;
	height: 80%;
	padding: 5% 20%;
	background-color: rgba(0,0,0,0.4);
	overflow: auto;
	z-index: 1;
}

#UnitModal__inner-div{
	display: flex;
	justify-content: space-between;
	padding: 40px;
	background: white;
	white-space: pre-wrap;
	
}

.UnitModal--background-grey{
	padding: 2px 15px;
	background: #f5f0f0;
	margin-bottom: 15px ;
	border-radius: 10px;
	
}

.UnitModal__heading{
	color: rgb(147, 180, 181);
	padding: 2px 15px;
}

#UnitModal__unit-data{
	width:70%;
}

.UnitModal__more{
	/* border: 1px solid grey; */
	width: fit-content;
	margin: 20px 0;
	cursor: pointer;
	background: #ddebe8;
}

.UnitModal__more div:hover
{
	background: grey;
}

.UnitModal__more div{
	/* border: 2px solid grey; */
	padding: 5px 25px 5px 15px;
}

.UnitModal__star-icons svg{
	font-size: 0.8rem;
	
}

.UnitModal__complexity{
	font-size: 10px;
	text-align: center;
}

.UnitModal__close-icon{
	cursor: pointer;
}

.UnitModal__close-icon svg{
	border-radius: 50%;
}

.UnitModal__close-icon svg:hover{
	background-color: grey;
	opacity: 0.5;
	padding: 8px;
}