$thirtydeg: 42deg;

#StartUp{
    display: flex;
    flex-direction: column;

    align-items: center;

}
.StartUp_about{
    display: flex;
    align-items: center;
    background-color:#3d4246;
    border-radius: 10px;
}

.StartUp__top-content-one{
    display: flex;
    justify-content: center;
    padding: 40px 0px;

}


.StartUp__top-content-one div div{
    padding: 0px 5px;
    border-radius: 10px;
    background: #c99d20	;
    font-family:monospace;
    font-size: 25px;
    justify-content: space-between;
    box-shadow: 10px 15px 10px black;
    width: fit-content;
    margin-bottom: 45px;
    margin-right: 20px;

}


#StartUp_top-content-middle{
    font-size: 35px;
}

#StartUp__top-content-tag1{
    transform: rotate(-$thirtydeg);
}
#StartUp__top-content-tag2{
    transform: rotate($thirtydeg);
}
#StartUp__top-content-tag3{
    transform: rotate($thirtydeg);
}
#StartUp__top-content-tag4{
    transform: rotate(-$thirtydeg);
}


.StartUp_middle-content-two div{
    font-size: 40px;
    border-radius: 10px;
    font-style: oblique;
    color:black;
    word-wrap: break-word;
    color: white;
    padding: 20px;
}

.StartUp__footer{
    /* width: 100%; */
    margin-top: 50px;
    background: white;
    padding : 30px;
}

$screen-width: 500px,600px,700px,800px,900px,1000px;
@each $width in $screen-width{    
    @media only screen and (max-width: $width){
        .StartUp__top-content-one div div{
            font-size: 10px;
            margin-bottom: 20px;
            margin-right: 5px;
        }
        
        #StartUp_top-content-middle{
            font-size: 15px;
        }
        .StartUp_middle-content-two div{
            font-size: 25px;
        }
        .StartUp_about{
            /* font-size: 5px; */
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

