#StartUp{
    display: flex;
    flex-direction: column;
    background-color:#3d4246;
    border-radius: 10px;
    align-items: center;

}
.StartUp__top-content-one{
    display: flex;
    justify-content: center;
    padding: 40px 0px;

}


.StartUp__top-content-one div div{
    padding: 0px 5px;
    border-radius: 10px;
    background: #c99d20	;
    font-family:monospace;
    font-size: 25px;
    justify-content: space-between;
    /* margin-bottom: 50px; */
    box-shadow: 10px 15px 10px black;
    width: fit-content;
    margin-bottom: 45px;
    margin-right: 20px;

}


#StartUp_top-content-middle{
    font-size: 35px;
}

@media only screen and (max-width: 650px){
    .StartUp__top-content-one div div{
        font-size: 10px;
        margin-bottom: 20px;
        margin-right: 5px;
    }
    
    #StartUp_top-content-middle{
        font-size: 12px;
    }
}
#StartUp__top-content-tag1{
    transform: rotate(-30deg);
}
#StartUp__top-content-tag2{
    transform: rotate(30deg);
}
#StartUp__top-content-tag3{
    transform: rotate(30deg);
}
#StartUp__top-content-tag4{
    transform: rotate(-30deg);
}

.StartUp_middle-content-two{
    /* background:black; */
}
.StartUp_middle-content-two div{
    /* padding: 10px; */
    /* padding: 30px 100px; */
    /* width: 100%; */
    /* width: fit-content; */
    /* background:#F7F6F9; */
    font-size: 35px;
    border-radius: 10px;
    font-style: oblique;
    color:black;
    word-wrap: break-word;
    color: white;
    padding: 20px;
    font-size: 25px;
    
    /* box-shadow: 20px 20px 10px grey; */

}

.StartUp__footer{
    /* width: 100%; */
    margin-top: 50px;
    background: white;
    padding : 30px;
}


