
.bodySection{
  margin: auto 150px;
  
}

.unitCreationForm{
  margin: 40px 120px;
}

.unit{
  border: 1px solid blue;
  padding: 30px;
  margin: 40px 120px;
  min-width: 300px;
}

#unitCreationForm{
  min-width: 300px;
}